body{
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(222, 34%, 31%);
    background: hsl(228, 45%, 91%);
    
}
.container{
    
    max-width: 1440px;
    background: url(./images/pattern-background-desktop.svg), hsl(224, 59%, 89%);
    background-size: cover;
    margin: 0 auto;
    border: 2px solid yellow;/*SO THE WIDTH CAN BE VISIBLE*/
}
.container-main{
    margin:100px auto 0;
    width: 50%;
    /* border: 2px solid red; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

}
.image img{
    object-fit: cover;
    width: 100%;
    
}

.content{
    margin-top: -10px;
    background-color: cornsilk;
    margin-bottom: 100px;/*JST FOR VIEWING*/
    
}
.content > *{
    text-align: center;
    
}
/* DESIGNING THE PLANS SECTION */
.plans{
    width: 65%;
    margin: 0 auto;
    background: yellow;
    padding: 20px;
}
.plans ul{
    list-style-type: none;
       
}
.plans ul > li{
    float: left;
}

.plans:after{
    content: "";
    display: table;
    clear: both;
}
.payment{
    width: 75%;
    /* border: 3px solid black; */
    margin: 20px auto;
}
.proceed{
    font-size: 16px;
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    padding: 15px 8px;
    border: none;
    border-radius: 10px;
    color: #eee;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 10px 3px #b3b0b0;
    cursor: pointer;

}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

