body{
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(222, 34%, 31%);
    background: hsl(228, 45%, 91%);
    
}
.container{
    
    max-width: 1440px;
    background: url(./images/pattern-background-desktop.svg), hsl(224, 59%, 89%);
    background-size: cover;
    margin: 0 auto 60px;
    
    
}
.container-main{
    margin:50px auto 0;
    width: 50%;
    /* border: 2px solid red; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    

}
.image img{
    object-fit: cover;
    width: 100%;
    
}

.content{
    margin-top: -10px;
    background-color: cornsilk;
    overflow: hidden;
        
}
.content > *{
    text-align: center;
    
}
/* DESIGNING THE PLANS SECTION */
.plans{
    width: 55%;
    margin: 0 auto;
    background: hsla(228, 16%, 76%, 0.603);;
    padding: 15px;
    position: relative;
    border-radius: 10px;
}
.plans::after{
    content: "";
    display: table;
    clear: both;
}
.plans div{
    border: none;
    position: relative;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    float: left;
    background-color: hsl(228, 45%, 91%);
    text-align: center;
    
}
.fas{
    position: absolute;
    top: 8px;
    left: 10px;
}
.fa-music, .plans aside{
    display: inline-block;
    float: left;
    font-size: 18px;
}


.plans aside{
    padding-left: 20px;
}

a.change{
    position: absolute;
    bottom: 35%;
    right: 10%;
}
.payment{
    width: 65%;
    margin: 20px auto;
}
.proceed, .cancel{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    padding: 15px 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;

}

.proceed{
    border-radius: 10px;
    color: #eee;
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 10px 3px #b3b0b0;
}
.proceed:active{
    background-color: hsl(245, 34%, 37%);
}

.cancel{
    font-size: 18px;
    color: hsl(245, 43%, 56%);
    margin-top: 20px;
}
.cancel:active{
    color:  hsl(245, 35%, 19%);
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

